@import "mixins";

.wrap {
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  position: relative;
  color: $brown;
}

body{
  background: $bg;
}

.content {
  @include transition-def();
  //width: 1440px;
}

.b-link{
  color: $brown;
  @include transition-def();
  &:hover{
    color: $brown-light;
  }
}

// todo Buttons
.b-button {
  height: 50px;
  background-color: $green;
  padding: 0 29px;
  min-width: 220px;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-radius: 25px;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  @include transition-def();
  overflow: hidden;
  .e-button-container {
    height: 100%;
    position: relative;
  }
  &:focus {
    outline: -webkit-focus-ring-color auto 0px;
  }
  .t {
    position: relative;
  }
  &:hover {
    background-color: $btn-h;
    color: #fff;
  }
  &.m-button-dark {
    background-color: transparent;
    color: #797979;
    border: 1px solid #464646;
    min-width: 169px;
    padding: 0;
    &:hover {
      border-color: #fff;
      background-color: #fff;
    }
  }
  &.m-100 {
    width: 100%;
  }
}

.b-bg {
  .e-bg-img-container {
    &:before {
      background: none;
    }
  }
}

.b-text-under-button {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: block;
  padding-top: 13px;
  font-weight: 300;
  color: #adc0cc;
}

.b-logo {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  padding: 0 10%;
  padding-top: 9px;
  padding-bottom: 40px;
  .e-attention {
    font-weight: 700;
    text-decoration: underline;
  }
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: $green;
  padding-top: 29px;
  margin: 0 auto;
  width: 38%;
  padding-bottom: 84px;
  & + .b-text {
    width: 59%;
    margin: 0 auto;
    text-align: center;
  }
}

h2, .b-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  position: relative;
  margin: 0 auto;
  padding: 25px 29% 42px;
  text-align: center;
  margin-top: 46px;
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: calc(50% - 6px);
    background-image: url("../img/r.png");
    width: 12px;
    height: 17px;
    z-index: 2;
  }
}

h4, .b-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  margin: 0 auto;
  width: 54%;
  padding-bottom: 67px;
  padding-top: 0;
  text-align: center;
  color: #acacac;
}

.b-icon {
  display: inline-block;
  vertical-align: top;
}

section {
  position: relative;
}

.b-input-list {
  text-align: center;
  font-size: 0;
  .e-input-item {
    margin-left: 20px;
    width: 220px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    &:first-child {
      margin-left: 0;
    }
  }
}

.b-input {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: "Roboto";
  padding: 6px 25px 4px;
  color: #fff;
  border-radius: 0;
  @include transition-def();
  background-color: transparent;
  &:hover, &:focus{
    color: $brown;
    border-color: $brown;
  }
}

.b-input-container {
  position: relative;
  &.m-input-search{
    .e-search-icon{
      position: absolute;
      font-size: 14px;
      line-height: 14px;
      left: 2px;
      top: calc(50% - 7px);
      color: #fff;
      @include transition-def();
    }
    .b-input{
      padding-left: 25px;
      &:focus{
        &+.e-search-icon{
          color: $brown;
        }
      }
    }
  }
}

.b-header {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  .e-header-left{
    width: 250px;
    padding-top: 48px;
    .b-logo{
      margin: 0 13px;
      margin-bottom: 78px;
    }
  }
  .e-header-right{
    //width: calc(100% - 250px);
    width: calc(100% - 247px);
    position: relative;
  }
  .e-header-top{
    padding: 0 $padding-right-header 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    background-color: $bg;
  }
  .e-header-tel{
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    @extend .b-link;
  }
  .e-header-text{
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: $brown;
    display: inline-block;
    vertical-align: top;
    position: relative;
    @extend .b-link;
    &+.e-header-text{
      margin-left: 23px;
      &:before{
        content: "";
        position: absolute;
        top: calc(50% - 6px);
        left: -12px;
        height: 11px;
        width: 1px;
        background-color: $brown;
      }
    }
  }
  .e-header-content{
    position: relative;
    z-index: 3;
    height: calc(100% - #{$header-height});
  }
  .e-header-delivery-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    z-index: 1;
    .b-delivery{
      margin-top: 79px;
    }
  }
  .e-bg-container{
    height: 100%;
  }
}

.b-header-second{
  padding-right: $padding-right-header;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  .e-header-second-left{
    padding-top: 30px;
    margin-top: 15px;
    position: relative;
    .b-input-container{
      position: absolute;
      top:0;
      left: 0;
      right:0;
    }
  }
  .e-header-second-nav{
    margin-top: 45px;
  }
  .e-header-text{
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    &+.e-header-text{
      margin-left: 20px;
      &:before{
        background-color: #fff;
      }
    }
  }
  .e-header-second-right{
    padding-top: 19px;
    padding-right: 5px;
    .b-select-container{
      display: inline-block;
      vertical-align: top;
      padding-top: 3px;
      &+.b-curt-small{
        margin-left: 29px;
      }
    }
  }
}

.b-nav {
  font-size: 18px;
  line-height: 20px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  padding: 10px 4px 4px;
  cursor: pointer;
  padding-right: 25px;
  position: relative;
  @extend .b-link;
  &:before{
    @include bootstrap-icon();
    content: "\e250";
    position: absolute;
    top:calc(50% - 5.5px);
    right: 4px;
    font-size: 11px;
    line-height: 11px;
  }
}

.b-nav-list {
  @include clearfix();
  .e-nav-item {
    border-bottom: 1px solid $brown;

  }
}

.b-arrow {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  bottom: 47px;
  left: calc(50% - 7px);
  z-index: 2;
}

.b-first {
  text-align: center;
  position: relative;
  height: 100%;
  .e-first-content {
    padding-bottom: 180px;
    .e-first-dark {
      color: #8c8c8c;
      padding-top: 124px;
    }
    &.m-full {
      padding: 0;
      .e-first-dark {
        padding: 0;
      }
    }
  }
}

// todo Select
.b-select-container {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  position: relative;
  color: inherit;
  z-index: 3;
  .e-select-top {
    position: relative;
    font-weight: 400;
    cursor: pointer;
    border: 2px solid #fff;
    padding: 1px 14px 2px 5px;
    border-radius: 2px;
  }
  .e-select-arrow {
    position: absolute;
    top: calc(50% - 6px);
    right: 2px;
    display: inline-block;
    vertical-align: top;
    line-height: 9px;
    font-size: 8px;
    @include transition-def();
  }
  .e-select-drop-panel {
    position: absolute;
    top: 100%;
    right: calc(50% - 175px);
    width: 350px;
    padding-top: 17px;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    @include transition-def();
    transform: translateY(20px);
    &.m-select-left {
      left: 0;
      right: auto;
    }
    &.m-select-100 {
      left: 0;
      right: 0;
      width: 100% !important;
    }
  }
  &.active {
    z-index: 7;
    .e-select-drop-panel {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
    .e-select-arrow {
      transform: rotate(180deg);
    }

  }
}

.b-select-drop {
  color: $brown;;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  background-color: #fff;
  @include box-shadow();
  .e-select-drop-icon-container, .e-select-drop-text-container {
    display: inline-block;
    vertical-align: top;
  }
  .e-select-drop-icon-container {
    & + .e-select-drop-text-container {
      .e-select-drop-text {
        padding-left: 12px;
      }
    }
  }
  .e-select-drop-icon {
    font-size: 22px;
    padding-right: 10px;
  }
  .e-select-drop-text {
    font-size: 16px;
  }
  .e-select-drop-item {
    cursor: pointer;
    box-sizing: border-box;
    @include transition-def();
    &.active, &:hover {
      background-color: $brown;
      color: #fff;
    }
  }
  .e-select-drop-item-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
}
// todo END Select

.b-curt{
  width: 38px;
  background-image: url("../img/curt.png");
  background-size: contain;
  position: relative;
  display: inline-block;
  vertical-align: top;
  &-small{
    @extend .b-curt;
    width: 21px;
  }
}

.b-bubble{
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: $red;
  position: absolute;
  z-index: 2;
  top: 1px;
  left: -9px;
}

.b-delivery{
  text-align: center;
  border: 10px solid $green;
  position: relative;
  width: 323px;
  padding: 28px 20px 32px;
  background-color: rgba(102,154,71, .5);
  &:before{
    content: "";
    position: absolute;
    z-index: 1;
    border: 1px solid #fff;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px
  }
  *{
    position: relative;
    z-index:3;
  }
  .e-delivery-logo{
    display: inline-block;
    vertical-align: top;
  }
  .e-delivery-footer{
    padding-top: 175px;
  }
  .e-delivery-text{
    font-size: 35px;
    line-height: 49px;
    letter-spacing: 0.4px;
    color: #fff;
    font-family: "Nautilus Pompilius";
    font-weight: 400;
    text-shadow: 0px 2px 20px rgba(0, 0, 1, 0.9);
    width: 475px;
    position: absolute;
    top: 178px;
    left: calc(50% - 237.5px);
    transform: rotate(-9deg);
  }
}
